<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletProject</display-name>
   <!-- Servlet Configurations -->
<servlet>
<servlet-name>keshav</servlet-name>
<servlet-class>com.servlet.Firstservelet</servlet-class>
</servlet>
 <!-- Mapping -->
 <servlet-mapping>
 <servlet-name>keshav</servlet-name>
 <url-pattern>/FirstServlet</url-pattern>
 </servlet-mapping>
 
<servlet>
<servlet-name>keshavD</servlet-name>
<servlet-class>GenericServlet.Firstgeneric</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>keshavD</servlet-name>
 <url-pattern>/FirstGeneric</url-pattern>
 </servlet-mapping>
 
 <!-- Servlet Configurations -->
<servlet>
<servlet-name>keshavDubey</servlet-name>
<servlet-class>com.servlet.http.Httpdemo</servlet-class>
</servlet>
 <!-- Mapping -->
 <servlet-mapping>
 <servlet-name>keshavDubey</servlet-name>
 <url-pattern>/HttpDemo</url-pattern>
 </servlet-mapping>
   
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>